*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fc5d66;
  --secondary-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container  {
  width: 100%;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/header-background.jpg");
  background-color: coral;
}

.nav-bar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: .5rem;

  .logo {
    height: 3.5rem;
    width: 5rem;
    padding-top: .5rem;
  }
  
  .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    a {
      font-weight: 600;
      color: white;
    }
  }

  .facebook, .twitter {
    font-size: 1.5rem;
  }
}

.hero-content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "hero-h1 hero-img"
    "hero-p hero-img"
    "btn hero-img";
  height: 100vh;
  gap: 2rem;

}