*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fc5d66;
  --secondary-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

ul {
  list-style: none;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: .5rem;


  .logo {
    height: 3.5rem;
    width: 5rem;
    padding-top: .5rem;
  }
  
  .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
    gap: 3rem;
  }

  .facebook, .twitter {
    font-size: 1.5rem;
  }

}